:root {
    --main-color: #0d222e;
    --background-color: #ffffff;
    --text-color: #4175DC;
    --header-color: #ffffff;
    --main-transition: 0.3s;
}
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--main-color)
}
body {
    font-family: 'Cairo', sans-serif;
    background-color: var(--background-color);
}



/* End Media */

/* Start Header Section */

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1.4em 13em;
    border-bottom: 1px #FFFFFF solid;
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    z-index: 1044;
    
}
header a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--main-color);
    font-weight: 700;
}
header .logo {
    font-size: 1.4em;
    font-weight: 750;
    color: var(--main-color);
    transition: 0.7s;
}
header .logo:hover {
    color: var(--text-color)
}
header .links a{
    margin-right: 25px;
    padding: 6px;
    transition: 0.7s;
    text-align: center;
  
}
header .links a:hover {
    background-color: var(--text-color);
    border-radius: 4px;
    color: #FFFFFF;
}

/* End Header Section */
/* Start Main Section */
 .columns-container {
    padding: 200px 200px;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}
.texts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.texts h1  {
    font-weight: 1000;
    font-size: 3.4em;
    line-height: 0.85em;
    white-space: nowrap;
    
}
.texts span {
    color: #4175DC;
}
.icon .fa-laptop-code {
    font-size: 5.9em;
    padding-right: 0.3em;
    background-color: var(--text-color);
    border: solid var(--text-color) 1em;
    border-bottom-right-radius: 120%;
    border-bottom-left-radius: 120%;
    border-top-left-radius: 50%;
    color: var(--main-color);
    transition: var(--main-transition);
}
.icon .fa-laptop-code:hover {
    border-top-right-radius: 50%;
    transform: scale(1.1, 1.1);
}
h1:not(.main-sect h1), .third-sect h1 {
    border-bottom: 3px var(--text-color) solid;
    display: inline-block;
    margin-bottom: 1em;
    padding-bottom: 5px;
    color: #4175DC;
    
}
.button a {
    text-decoration: none;
    background-color: var(--text-color);
    width: 10em;
    padding: 0.75em 0;
    border-radius: 8px;
    text-align: center;
    display: block;
    color: #ffffff;
    font-weight: 600;
    transition: var(--main-transition);
}
.button a:hover {
    transform: scale(1.1 , 1.1);
}
.contact-links a {
    font-size: 1.3em;
    
    padding: 0.5em 0.050em 0 0.60em;
    display: inline-block;
    transition: 0.3s
}
.contact-links a i {
    color: var(--text-color)
}
.contact-links a:hover {
    transform: scale(1.2, 1.2);
}

/* End Main Section */
/* Start Second Section */
.second-sect, .third-sect, .fourth-sect {
    padding: 100px 200px;
    text-align: center;
    
}
.cards-container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.second-sect h1, .third-sect h1 {
    text-align: center;
}
.second-sect .card, .fourth-sect .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    margin: 15px;
    box-shadow: 0 5px 25px rgb(65 117 220/ 25%);
    height: 25em;
    width: 20em;
    border-radius: 10px;
    transition: 0.4s ;
    
}
.second-sect i {
    font-size: 5.9em;
    color: var(--text-color)
}
.second-sect h3 {
    color: var(--text-color);
    font-size: 1.5em;
}
.second-sect p {
    font-size: 1.2em;
    font-weight:500;
}
.second-sect .card:hover {
    transform: scale(1.1,1.1);
}

/* End Second Section */
/* Start Third Section */

.third-sect .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20em;
    max-height: 20em;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgb(65 117 220/ 25%);
    margin: 15px;
    text-align: center;
    transition: 0.4s;
    
}
.projects {
    color: var(--text-color);
}
.third-sect img {
    width: 100%;
    max-height: 165px;
}
.project-info a {
    text-decoration: none;
}
.project-info p {
    font-weight: 500;
}
.card .fa-lock {
    color: var(--text-color);
    text-align: center;
    font-size: 9em;
}
.project-info i {
    padding-bottom: 1em;
    font-size: 1.4em;
    color: var(--text-color);
}
.third-sect .card:not(:first-child) {
    justify-content: space-around;
}
.third-sect .card:hover {
    transform: scale(1.05,1.05);
}

/* End Third Section */
/* Start Fourth Section */

.fourth-sect .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fourth-sect .card {
    height: 15em;
    transition: 0.4s;
}
.fourth-sect i {
    color: var(--text-color);
    font-size: 3em;
}
.fourth-sect h2 {
    font-size: 1.5em;
    color: var(--text-color);
}
.fourth-sect .card:hover {
    transform: scale(1.1,1.1);
}

/* End Fourth Section */
/* Start Last Section */


.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.container2 h3 {
    color: var(--text-color);
}
.footer .icons i {
    color: var(--text-color);
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 20px;
}

/* End Last Section */
/* Start Media */

@media (max-width: 1280px) {
    header {
        padding: 2em;
    }
    .columns-container {
        padding: 10em 2em;
        height: 100%;
    }
    .second-sect, .third-sect, .fourth-sect {
        padding: 100px 100px;
    }
    .cards-container i:not(.projects .projects-info i) {
        font-size: ;
    }
}
@media (max-width: 895px) {
    .columns-container {
        display: block;
    }
    .main-sect {
        min-width: 100%;
    }
    .main-sect .column2 .icon {
        display: flex;
        justify-content: flex-end;
    }
    .main-sect .column2 i {
        font-size: 4em;
    }
    header .links a {
        margin-right: 3px;
    }
    body {
        font-size: 14px;
    }
}
@media (max-width: 525px) {
    .card {
        min-width: 80vw;
    }
    header {
        flex-direction: column;
        
    }
    body {
        font-size: 12px
    }
    .column1 .texts h1 {
        font-size: 2.7em;
    }
    header .links {
        padding-top: 10px;
    }
    header .links a {
        padding: 2px;
    }
    
}
@media (max-width: 350px) {
    body {
        font-size: 11px;
        
    }
    .links {
       justify-content: center;
    }
    header {
        border-bottom: #4175DC 2px solid;
        padding: 1em 5px;
    }
    .column2  {
        display: none;
    }
    .main-sect {
        min-height: 80vh;
        justify-content: center;
        padding-top: 5em;
    }
   
}
/* 3973f4
396feb
0d222e */